---
/*
 * MIT License
 *
 * Copyright (c) 2024 Lina (Lexedia) L.
 */

import BaseLayout from '@/layouts/Base'
---

<BaseLayout title="Startseite">
  <section>
    <h1 class="title">WIP</h1>
    <p class="mb-4 sm:mb-8">
      Cette page est en cours de construction, veuillez revenir plus tard!
    </p>
  </section>
</BaseLayout>
