---
/*
 * MIT License
 *
 * Copyright (c) 2024 Lina (Lexedia) L.
 */

import Layout from '@/layouts/Base';
---

<Layout
  title="Zu mir"
  description="Lorem ipsum dolor sit amet"
>
  <h1 class="title">About</h1>
</Layout>
